@font-face {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
  font-weight: normal;
  font-style: normal;
}

.main,
.main input {
    font-size: 16px;
  color: #353740;
  font-family: "Roboto", Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  height: 88vh;
  width: 100%;
}

.main h1 {
  font-size: 52px;
  line-height: 52px;
  font-weight: bold;
  color: #475674;
  margin: 15vh 0 40px;
}

.main form {
  width:60%;
  text-align: center;
  display: flex;
  height: 46px;
  border-radius: 18px 18px 18px 18px;
}
.main form:focus-within {
box-shadow:  0 0 2px 0 #7e7e7e;
}

.main input[type="text"] {
vertical-align: top;
 width: 100%; 
  padding: 10px 10px; 
  border: none;
  border-radius: 18px 0px 0px 18px;
}

.main input:focus {
  outline: none !important;
}

.main ::placeholder {
  /* color: #8e8ea0;
  opacity: 1; */
}

.main input[type="submit"] {
  background:url(/magnifier.svg) no-repeat center center;
  background-size: 20px;
  width: 45px;
  height: 46px;
  vertical-align: top;
  padding: 10px 10px;
  background-color: #CCCCCC;
  border: none;
  border-radius: 0px 18px 18px 0px;
  text-align: center;
  cursor: pointer;
}

.main input[type="submit"]:focus { 
  background-color: #DDDDDD;
}

.main .error {
  visibility: hidden;
}

.main .result {
  width: 60%;
  font-weight: bold;
  margin-top: 60px;
  visibility: hidden;
  text-align: left;
}

.main .synonymes {
  text-align: center;
  width: 100%;
}

.column {
  float: left;
  box-sizing: border-box;
  /* padding: 10px; */
}

.itemcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10px 3px 10px 3px; */
}

.item {
  display: inline-block;
  flex-direction: row;
  text-align: center;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s ease;
  border-radius: 6px;
  padding: 8px;
}


.itemcontainer a {
  display: inline-block;
  margin: 6px;
  padding: 6px;
  text-align: center;
  background-color: none;
  transition: background-color 0.3s ease;
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: underline;
  border-radius: 6px;
}

.itemcontainer a:hover {
  background-color: #DDDDDD;
  text-decoration: none;
  border-radius: 6px;
}


@media (min-width: 801px) {
  .itemcontainer {
    flex-wrap: wrap;
  }
  
  .column {
    width: 33.33%;
  }
}
  @media (max-width: 800px) and (min-width: 451px) {
      .itemcontainer {
        flex-wrap: wrap;
      }
      
      .column {
        width: 50%;
      } 
}

@media (max-width: 450px) {
  .itemcontainer {
    flex-wrap: wrap;
  }
  
  .column {
    width: 100%;
    float: none;
  }
}

.main .query {
  color: #475674;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
}

.main .query .dots {
  vertical-align: top;
  display: inline-block;  
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}

.main .credit {
  position:fixed;
 color: #999999;
  bottom:0;
  margin-bottom: 10px;
  width:100%;
  text-align: center;
  font-weight: normal;
  font-size: 5pt;
}

.main .credit a {
  color: #999999;
}