@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  height: 100vh;
}
.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  align-items: center;
  display: inline-block;
  /* flex-direction: column; */
   /* width: 100%;  */
}
.main input[type="text"] {
  font-size: 0.7rem;
vertical-align: top;
/* width: 320px; */
  padding: 12px 16px;
  border: 1px solid #140054;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #f900b2;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  vertical-align: top;
  padding: 12px 12px;
  color: #fff;
  background-color: #140054;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 0.7rem;
  cursor: pointer;
}

.main .result {
  width: 80%;
  font-weight: bold;
  margin-top: 40px;
  visibility: hidden;
  text-align: left;
}

.main .synonymes {
  text-align: left;
width: 100%;
columns: 4 auto;
}

.main .synonymes a {
  cursor: pointer;
  text-decoration: underline;
}

.main .query {
  /* float: left; */
  text-align: left;
    display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 20px;
margin-left: auto;
}

.main .query .dots {
  /* animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite; */
  vertical-align: top;

  display: inline-block;
  height: 10px;
  text-align: left;
  font-weight: bold;
  font-size: x-large;
  
}

.main .credit {

  position:absolute;
  bottom:0;
  margin-bottom: 10px;
  width:100%;
  height: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 6pt;

}