@font-face {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
  font-weight: normal;
  font-style: normal;
}

.main,
.main input {

    font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "Roboto", Helvetica, sans-serif;
}

.main {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  height: 88vh;
  width: 100%;
}

.main h3 {
  font-size: 32px;
  line-height: 30px;
  font-weight: bold;
  color: #202123;
  margin: 30px 0 40px;
}

.main form {
  width:80%;
  text-align: center;
  display: inline-block;

}

.main input[type="text"] {
vertical-align: top;
 width: 60%; 
  padding: 10px 10px; 
  border: 1px solid #140054;
  border-radius: 4px 0px 0px 4px;
  margin-bottom: 20px;
  outline-color: #f900b2;
}

.main input:focus {
   box-shadow: 0 0 2px 0 #7e7e7e; 
  outline: none !important;
  border-color: #f900b2;
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

.main input[type="submit"] {
  background:url(/magnifier.svg) no-repeat center center;
  background-size: 20px;
  width: 45px;
  height: 45px;
  vertical-align: top;
  padding: 10px 10px;
  color: #fff;
  background-color: #DDDDDD;
  border: none;
  border-radius: 0px 4px 4px 0px;
  text-align: center;
  cursor: pointer;
}

.main .error {
  visibility: hidden;
}

.main .result {
  width: 80%;
  font-weight: bold;
  margin-top: 40px;
  visibility: hidden;
  text-align: left;
}

.main .synonymes {
  text-align: left;
width: 100%;
columns: 4 auto;
}

@media(max-width: 800px) {
  .main .synonymes {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
     column-count: 3;
  }
}

@media(max-width: 600px) {
  .main .synonymes {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
     column-count: 2;
  }
}

@media(max-width: 360px) {
  .main .synonymes {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
     column-count: 1;
  }
}

.main .synonymes a {
  cursor: pointer;
  text-decoration: underline;
}

.main .query {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
}

.main .query .dots {
  vertical-align: top;
  display: inline-block;  
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}

.main .credit {
  position:fixed;
  background-color: #fff;
  bottom:0;
  margin-bottom: 0px;
  width:100%;
  text-align: center;
  font-weight: normal;
  font-size: 5pt;
}